---
import Heading from "./Heading.astro";
import ComponentLayout from "../layouts/ComponentLayout.astro";
import FeatureTab from "./FeatureTab.astro";
---

<div
  id="features"
  class="bg-gradient-to-b from-background/30 to-background/90 pb-24"
>
  <Heading>Effective Features for Better Sales</Heading>
  <ComponentLayout>
    <FeatureTab />
    <!-- <div  class="mt-10"/> -->
    <!-- <FeatureTabReact client:load /> -->
  </ComponentLayout>
</div>
