---
import ComponentLayout from "../layouts/ComponentLayout.astro";
import FeatureReact from "./FeatureReact.astro";
import Heading from "./Heading.astro";
---

<div
  id="features"
  class="bg-gradient-to-b from-background/30 to-background/90 pb-24"
>
  <Heading>Effective Features for Better Sales</Heading>
  <ComponentLayout>
    <FeatureReact />
  </ComponentLayout>
</div>
