---
import ComponentLayout from "../layouts/ComponentLayout.astro";
import PackageCard from "./PackageCard.astro";
import Heading from "./Heading.astro";
---

<img
  src="./assets/abstract-wavy-line.png"
  alt="abstract"
  class="float-slow absolute left-[-80px] object-cover -z-[1] rotate-[60deg] scale-x-[-1]"
/>

<div
  id="pricing"
  class="bg-gradient-to-b from-background/90 to-background/30 pb-24"
>
  <Heading subHeading="Smart plans for every step of your growth">
    Simple, Transparent Monthly Plans
  </Heading>

  <ComponentLayout>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-6">
      <PackageCard
        title="Essential"
        price="14.99"
        features={[
          "Up to 5 attributed orders per month",
          "Unlimited customizers",
          "All Features Included",
        ]}
      />
      <PackageCard
        title="Growth"
        price="29.99"
        features={[
          "Up to 15 attributed orders per month",
          "Unlimited customizers",
          "All Features Included",
        ]}
      />
      <PackageCard
        title="Unlimited"
        price="149.99"
        features={[
          "Unlimited orders per month",
          "Unlimited customizers",
          "All Features Included",
        ]}
      />
    </div>
  </ComponentLayout>
</div>

<script>
  gsap.registerPlugin(ScrollTrigger);

  if (innerWidth > 768) {
    gsap.fromTo(
      ".pricing-card",
      { opacity: 0, y: 50 },
      {
        opacity: 1,
        y: 0,
        duration: 0.8,
        ease: "power2.out",
        stagger: 0.2,
        scrollTrigger: {
          trigger: "#pricing",
          scroller: "body",
          start: "top 55%",
          end: "to 30%",
          scrub: 2,
        },
      }
    );
  }
</script>
