---
import ComponentLayout from "../layouts/ComponentLayout.astro";
import PackageCard from "./PackageCard.astro";
import Heading from "./Heading.astro";
---

<img
  src="./assets/abstract-wavy-line.png"
  alt="abstract"
  class="float-slow absolute left-[-80px] object-cover -z-[1] rotate-[60deg] scale-x-[-1]"
/>

<div
  id="pricing"
  class="bg-gradient-to-b from-background/90 to-background/30 pb-24"
>
  <Heading subHeading="Smart plans for every step of your growth">
    Simple, Transparent Monthly Plans
  </Heading>

  <ComponentLayout>
    <div
      class="grid lg:grid-cols-6 md:grid-cols-2 grid-cols-1 gap-6 justify-center"
    >
      <div class="hidden lg:inline-block">&nbsp;</div>
      <div class="lg:col-span-2">
        <PackageCard
          title="Essential"
          price="14.99"
          features={[
            "Up to 5 attributed orders per month",
            "Unlimited customizers",
            "All Features Included",
            // "$2.50 per extra order, up to a total of $99.00 monthly",
          ]}
        />
      </div>
      <div class="lg:col-span-2">
        <PackageCard
          title="Growth"
          price="29.99"
          features={[
            "Up to 15 attributed orders per month",
            "Unlimited customizers",
            "All Features Included",
            // "$2.00 per extra order, up to a total of $99.00 monthly",
          ]}
        />
      </div>
      <div class="hidden lg:inline-block">&nbsp;</div>
    </div>
  </ComponentLayout>
</div>

<script>
  gsap.registerPlugin(ScrollTrigger);

  if (innerWidth > 768) {
    gsap.fromTo(
      ".pricing-card",
      { opacity: 0, y: 50 },
      {
        opacity: 1,
        y: 0,
        duration: 0.8,
        ease: "power2.out",
        stagger: 0.2,
        scrollTrigger: {
          trigger: "#pricing",
          scroller: "body",
          start: "top 55%",
          end: "to 30%",
          scrub: 2,
        },
      }
    );
  }
</script>
