<div>
  <div
    class="relative sm:aspect-[16/4.5] aspect-[16/9] h-full mx-auto max-w-full"
  >
    {
      /* <img src="./assets/footer-image-zepto.jpg" alt="footer image" class='mx-auto object-cover size-full md:object-contain' /> */
    }
    <div class="absolute bottom-0 w-full flex items-end justify-center">
      <a
        href="https://apps.shopify.com/neon-sign-customizer"
        target="_blank"
        rel="noopener noreferrer"
        class=""
      >
        <button
          class="tryBtn text-black md:px-6 md:py-3 sm:text-base px-3 py-2 text-xs font-semibold rounded-full gap-2 transition-all duration-300"
        >
          <span>Create Your First Sign</span>
        </button>
      </a>
    </div>
  </div>
</div>
