---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import SEOHead from "../components/SEOHead.astro";
import Footer from "../components/Footer.astro";

const { head } = Astro.props;
---

<!doctype html>
<html lang="en">
  {head ? <SEOHead {...head} /> : <SEOHead />}
  <body>
    <NavBar />
    <main class="relative overflow-hidden">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script>
  window.$crisp = [];
  window.CRISP_WEBSITE_ID = "d3be148c-583f-494f-8cd5-d32dfc122b09";
  (function () {
    const d = document;
    const s = d.createElement("script");
    s.src = "https://client.crisp.chat/l.js";
    s.async = 1;
    d.getElementsByTagName("head")[0].appendChild(s);
  })();
</script>
